# Filesystem Related
*.DS_Store

# Racket related
compiled
.\#*
\#*
*~

# Database files
*.db

# Docs Output
json-sourcery/scribblings/*
!json-sourcery/scribblings/json-sourcery.scrbl
json-sourcery/doc/*
